<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.dev.vue_tabulator.mapper.UserMapper" >

    <select id="getAllUser" resultType="com.dev.vue_tabulator.vo.UserVo">
        SELECT *
        FROM `user`
        ORDER BY CAST(substring(id, 5) AS int)
    </select>

    <select id="findById" resultType="java.lang.Integer">
        SELECT count(*)
        FROM `user`
        WHERE id = #{id}
    </select>

    <insert id="addUser">
        INSERT INTO `user` (id, name, `Date`, Quantity, Price)
        VALUES (#{id}, #{name}, #{date}, #{quantity}, #{price})
    </insert>

    <update id="updateUser">
        UPDATE `user`
        SET name = #{name}, date = #{date}, quantity = #{quantity}, price = #{price}
        WHERE id = #{id}
    </update>

    <delete id="deleteUser">
        DELETE FROM `user`
        WHERE id in
        <foreach item="id" collection="list" open="(" separator="," close=")">
            #{id}
        </foreach>
    </delete>
</mapper>
